## Zadanie domowe
---

Otwórz plik z lokalizacji https://otwartedane.gdynia.pl/pl/dataset/c-6-3
* Stwórz data_frame
* dodaj kolumnę, która będzie zawierała średnią ilość obsługiwanych miesięcznie statków razem pl i obcych
* zapisz w pliku statki.xlsx

In [1]:
import pandas as pd

In [2]:
plik = "https://otwartedane.gdynia.pl/pl/dataset/01c59ee3-ada4-458b-bd9a-6a73e24580e7/resource/75e513a2-595f-43ab-9e1e-ff4e02d20675/download/city_6_3_data.csv"

In [3]:
data_frame = pd.read_csv(plik)

In [4]:
data_frame

     obce  polskie  razem    month
0     240        8    248  2015-01
1     227        8    235  2015-02
2     253        9    262  2015-03
3     262       17    279  2015-04
4     276       14    290  2015-05
..    ...      ...    ...      ...
108   256       25    281  2024-01
109   272       23    295  2024-02
110   273       23    296  2024-03
111   275       31    306  2024-04
112   288       36    324  2024-05

[113 rows x 4 columns]

In [15]:
for year in range(2015,2025):
    print(year, data_frame.loc[data_frame['month'].str.contains(str(year)) , 'razem'].sum())

2015 3285
2016 3463
2017 3613
2018 4331
2019 4037
2020 3694
2021 4243
2022 4330
2023 4135
2024 1502